---
import logo from "@assets/logo.png"
---
<header class="header">
  <div class="header__logo">
    <img class="header__img" src={logo} alt="logo">
    <span class="header__name">
      Sociedad Mexicana para la Investigación en Células Troncales
    </span>
  </div>
</header>

<style lang="scss">
  @import "@assets/library";
  .header {
    display: none;
    @media (min-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background-color;
      padding-bottom: 40px;
      &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__img {
        height: 180px;
        width: 180px;
      }
      &__name {
        max-width: 650px;
        font-size: 36px;
        font-family: "Besley", serif;
        line-height: 46px;
        text-align: center;
      }
    }
  }

</style>