---
const { active } = Astro.props

let home, register, program, contact
;
switch (active){
  case "Inicio" : 
    home = true;
    break;
  case "Registro": 
    register = true;
    break;
  case "Programa" :
    program = true;
    break;
  case "Contacto":
    contact = true;
    break;
};
---

<nav class="navbar">
  <ul class="navbar__items">
    <li 
      class:list={[{ active: home }]}
    >
      <a href="/">
          Inicio
      </a>
    </li>
    <li 
      class:list={[{ active: program}]}
    >
      <a href="/programa/horario">
        Programa
      </a>
    </li>
    <li 
      class:list={[{ active: register}]}
    >
      <a href="/registro">
        Registro
      </a>
    </li>
    <li 
      class:list={[{ active: contact}]}
    >
      <a href="/registro">
        Contacto
      </a>
    </li>
  </ul>
</nav>

<style lang="scss" >
@import "@assets/library";
.navbar {
  display: none;
  @media (min-width: 768px) {
    background: $white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
    ul {
      display: flex;
      list-style: none;
      width: 100%;
      max-width: 880px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 150px;
    }
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $black;
      font-size: 20px;
      &:hover {
        font-weight: 600;
      }
    }
  }
}

.active {
  font-weight: 600;
  border-bottom: 5px solid $primary-color;
}

</style>