---
import Layout from "@layouts/Layout.astro";
---
<Layout>
  <section class="privacy">
    <div>
      <h3>
        Aviso de privacidad
      </h3>
    </div>
  
  </section>

</Layout>

<style lang="scss">
  @import "@assets/library";
  .privacy{
    width: 100%;
    padding-top: 100px;
    max-width: 880px;

    &__title
  }

</style>