---
import { getUser } from '../helpers/supabase'
import LoginStatus from '../components/LoginStatus.astro'

const user = await getUser(Astro.request)
const isLoggedIn = !(user == null)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<LoginStatus isLoggedIn={isLoggedIn}></LoginStatus>
		<a href="/registro">Registro</a>
		
	</body>
</html>
