---
import Layout from "../layouts/Layout.astro";
import RegisterModule from "../components/RegisterModule.vue";
---

<Layout title="Registro">
  <h1>Registro</h1>
  <RegisterModule client:only='vue'/>
</Layout>