<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
			<td align="center">
					<table width="660" border="0" cellspacing="0" cellpadding="0">
							<tr>
									<td align="center" style="padding: 60px 0 20px;">
											<img src="https://dvehcomkytvfptmklezb.supabase.co/storage/v1/object/public/assets/logo.png" width="117" style="height:auto;"/>
									</td>
							</tr>
							<tr>
									<td align="center" style="font-size: 24px; line-height:28px; padding:0 30px; max-width:400px;">
											Sociedad Mexicana para la Investigación en Células Troncales
									</td>
							</tr>
							<tr>
									<td style="font-size:16px; padding: 20px 30px;">
											Estimado participante,
									</td>
							</tr>
							<tr>
									<td style="font-size:16px; line-height:20px; padding: 0 30px;">
											Su código para ingresar a la plataforma es el siguiente:
									</td>
							</tr>
							<tr>
									<td style="font-size:20px; line-height:24px; letter-spacing:10px; font-weight:bold; padding: 20px 30px;">
											{{ .Token }}
									</td>
							</tr>
							<tr>
									<td align="center" style="padding: 40px 30px 20px;">
											<a href="https://somicet.org/registro/formulario" style="display: inline-block; width: 200px; height: 50px; line-height: 50px; text-align: center; text-decoration: none; color: #fff; font-size: 14px; border-radius: 8px; background: #BF2604; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);">
													Ir a la plataforma
											</a>
									</td>
							</tr>
							<tr>
									<td style="font-size:16px; padding: 0 30px;">
											Saludos Cordiales
									</td>
							</tr>
							<tr>
									<td style="padding: 20px 30px;">
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
															<td width="10%">
																	<img src="https://dvehcomkytvfptmklezb.supabase.co/storage/v1/object/public/assets/support.png" style="width: 100%;"/>
															</td>
															<td width="90%" style="padding-left: 20px;">
																	Si tiene dudas, contactanos<br>
																	<a href="mailto:somicet@gmail.com" style="text-decoration: none; color:#BF2604; font-weight: bold;">
																			somicet@gmail.com
																	</a>
															</td>
													</tr>
											</table>
									</td>
							</tr>
							<tr>
									<td style="background: #BF2604; padding: 20px 30px; color: #fff; text-align: center;">
											<a href="https://www.facebook.com/SOMICET/?locale=es_LA" style="display: inline-block; margin-right: 10px;">
													<img src="https://dvehcomkytvfptmklezb.supabase.co/storage/v1/object/public/assets/facebook.png" alt="Facebook" style="width: 30px; height: 30px; margin-bottom: 10px;"/>
											</a>
											<a href="somicet.org" style="text-decoration: none; color: #fff; font-size: 16px;">
													somicet.org
											</a>
											<p style="margin: 10px 0 0; font-size:10px;">
													SOMICET 2023
											</p>
									</td>
							</tr>
					</table>
			</td>
	</tr>
</table>   