$primary-color:#BF2604;
$primary-color-900: #C53C1D;
$primary-color-800: #CC5136;
$primary-color-700: #D2674F;
$background-color: #ffff;
$secondary-color: #400C0C;
$secondary-color-900: #532424;
$secondary-color-800: #663D3D;
$secondary-color-700: #795555;
$accent-color: #B3B3B3;
$bg-hero: #C1CAD2;
$bg-register: #ECBEB44F;
$white: #FDFDFD;
$black: #292929;
