---
import Layout from "@layouts/Layout.astro";
import PosterModule from "@components/registration/PosterModule.vue";
---

<Layout title="Registro">
  <main class="poster">
    <h1 class="poster__title">Registra tu cartel</h1>
    <PosterModule client:only="vue"/>
  </main>
</Layout>

<style lang="scss">
@import "@assets/library";
.poster {
  margin: 0 auto;
  max-width: 880px;
  padding: 30px 16px;
  &__title {
    color: $black;
    margin-bottom: 12px;
    font-size: 24px;
  }
  @media (min-width: 992px) {
    max-width: 880px;
    padding: 60px 0;
    &__title {
      font-size: 32px;
    }
  }
}
</style>