---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Datos Bancarios">
  <main class="bank-data">
    <h1 class="bank-data__title">Datos Bancarios</h1>
  </main>
</Layout>

<style lang="scss">
@import "@assets/library";
.bank-data {
  margin: 0 auto;
  max-width: 880px;
  padding: 60px 0;
  &__title {
    color: $black;
    margin-bottom: 20px;
  }
}
</style>