---
import Layout from "@layouts/Layout.astro";
import RegistrationModule from "@components/registration/RegistrationModule.vue";
---

<Layout title="Registro">
  <main class="registration">
    <h1 class="registration__title">Registro</h1>
    <RegistrationModule client:only="vue" />
  </main>
</Layout>

<style lang="scss">
@import "@assets/library";
.registration {
  margin: 0 auto;
  padding: 90px 16px 30px;
  &__title {
    color: $black;
    margin-bottom: 12px;
  }
  @media (min-width: 768px) {
    max-width: 880px;
    padding: 28px 32px;
    &__title {
      font-size: 32px;
    }
  }
}
</style>