---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Registro">
  <main class="reg-procs">
    <h1 class="reg-procs__title">Descarga tu constancia</h1>
    <a 
      class="reg-procs__button"
      href="/registro/formulario"
    >
      Obtener constancia
    </a>
    <ul class="reg-procs__list">
      <li class="reg-procs__element">
        Antes de comenzar, hay puntos importantes que debes de saber: <br>
        <ol class="reg-procs__sub-list">
          <li class="reg-procs__sub-element">
            <p>
              Cada asistente tiene un plazo de 60 días a partir de 15 Noviembre de 2023 para descargar su constancia.
            </p>
          </li>
          <li class="reg-procs__sub-element">
            <p>
              Si dentro del periodo anteriormente mencionado se identifica alguna inconsistencia dentro de la constancia, el asistente puede solicitar la correción enviando un correo electrónico a <a href="mailto:somicet@gmail.com">somicet@gmail.com</a>. 
            </p>
          </li>
        </ol>
      </li>
      <!--<li class="reg-procs__element">
        <div class="reg-procs__instruction">
          <span class="reg-procs__bullet">c</span>
          <p>
            ¿Tienes un cartel para presentar?
            Inscríbelo aquí.
            <br> 
            Estos son los requisitos:
          </p>
          
        </div>
        
        <ul class="reg-procs__sub-list">
          <li class="reg-procs__sub-element">
            <p>
              Título
            </p>
          </li>
          <li class="reg-procs__sub-element">
            <p>
              Autores
            </p>
          </li>
          <li class="reg-procs__sub-element">
            <p>
              Adscripción 
            </p>
          </li>
          <li class="reg-procs__sub-element">
            <p>
              Resumen del trabajo (no mayor a 250 palabras)
            </p>
          </li>
          <li class="reg-procs__sub-element">
            <p>
              Agradecimientos
            </p>
          </li>
        </ul>

        <a 
          class="reg-procs__button"
          href="/registro/cartel"
        >
          Inscribir cartel
        </a>
      </li> -->
    </ul>
    <div class="reg-procs__banner">
      <!--<p>
        Período de inscripción de cartel: <br> <span class="important">Del 
        1 al 29 de septiembre de 2023</span>.
      </p> -->
      <p>
        <b>La Sociedad Mexicana para la Investigación en Células Troncales</b> agaradece sinceramente la participación de todos los asistentes y los invita a participar en futuros eventos.
      </p>

    </div>
  </main>
</Layout>

<style lang="scss">
@import "@assets/library";
.reg-procs {
  margin: 0 auto;
  padding: 90px 16px 30px;
  &__title {
    color: $black;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__p {
    color: $black;
    margin-bottom: 12px;
    font-size: 16px;
  }
  &__list {
    font-size: 16px;
    list-style: none;
  }
  &__element {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }
  &__instruction {
    display: flex;
    color: $black;
  }
  &__bullet {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    color: $white;
    flex-shrink: 0;
    margin-right: 8px;
  }
  &__button {
    width: 90%;
    height: 50px;
    text-decoration: none;
    background: $white;
    color: $black;
    border: 3px solid $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    &:visited {
      color: $black;
    }
    &:hover {
      background: $primary-color;
      color: $white;
    }
  }
  &__requirements{

  }
  &__banner{
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: $primary-color;
    color: $white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:  8px;
    text-align: center;
    @media (min-width: 768px){
      padding: 16px 8px;

    }
    & p{
      font-size: 14px;
      line-height: 18px;
      &:nth-child(2){
        margin: 5px 0;
      }
      @media (min-width: 768px){
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  &__sub-list {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
  }
  &__sub-element {
    margin-bottom: 10px;
    &::marker {
      color: $primary-color;
    }
    & a{
      text-decoration: none;
      color: $primary-color;
    }
  }
  @media (min-width: 768px) {
    max-width: 880px;
    padding: 40px 32px;
    min-height: 450px;
    &__title {
      font-size: 36px;
      margin-bottom: 28px;
    }
    &__list {
      font-size: 20px;
    }
    &__instruction {
      align-items: center;
    }
    &__bullet {
      width: 30px;
      height: 30px;
    }
    &__button {
      width: 300px;
      height: 60px;
      font-size: 20px;
      margin: 28px auto;
    }
  }
}
.important {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  text-decoration-color: $primary-color;
}
</style>