---
import Layout from "@layouts/Layout.astro";
import ProyectModule from "@components/registration/ProyectModule.vue";
---

<Layout title="Registra tu Proyecto">
  <main class="proyect">
    <h1 class="proyect__title">Registra tu proyecto</h1>
    <ProyectModule client:only="vue"/>
  </main>
</Layout>

<style lang="scss">
@import "@assets/library";
.proyect {
  margin: 0 auto;
  max-width: 880px;
  padding: 30px 16px;
  &__title {
    color: $black;
    margin-bottom: 20px;
    font-size: 24px;
  }
  @media (min-width: 992px) {
    max-width: 880px;
    padding: 60px 0;
    &__title {
      font-size: 32px;
    }
  }
}
</style>