---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Registra tu Proyecto">
  <main class="proyect">
    <h1 class="proyect__title">Registra tu proyecto</h1>
  </main>
</Layout>

<style lang="scss">
@import "@assets/library";
.proyect {
  margin: 0 auto;
  max-width: 880px;
  padding: 60px 0;
  &__title {
    color: $black;
    margin-bottom: 20px;
  }
}
</style>