---
import GlobalStyles from '@components/GlobalStyles.astro'
import logo from "@assets/logo.png"
import AdminMenu from '@components/core/AdminMenu.astro'

const { title } = Astro.props
---

<html lang='es'>
  <head>
    <meta charset="utf-8" />
    <!--  TODO:  Change favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SOMICET - Admin | {title}</title>
    <GlobalStyles />
  </head>
  <body>
    <div class="admin">
      <div class="top-bar">
        <img class="top-bar__logo" src={logo} alt="logo">
        SOMICET
      </div>
      <div class="content">
        <AdminMenu section={title} />
        <main>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>

<style scoped lang="scss">
.admin {
  height: 100vh;
  overflow: hidden;
}
.top-bar {
  width: 100%;
  height: 75px;
  border-bottom: 3px solid lightgray;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 20px;
  &__logo {
    width: 50px;
    margin-right: 10px;
  }
}
.content {
  flex: 1;
  display: flex;
}
main {
  flex: 1;
  padding: 20px;
}
</style>