---
import GlobalStyles from '@components/GlobalStyles.astro'

const { title } = Astro.props
---

<html lang='es'>
  <head>
    <meta charset="utf-8" />
    <!--  TODO:  Change favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SOMICET - Admin | {title}</title>
    <GlobalStyles />
  </head>
  <body>
    <div class="admin">
      <div class="top-bar">
        SOMICET
      </div>
      <div class="content">
        <aside>
          <a href="/admin/panel">Panel</a>
          <a href="/admin/registros">Registros</a>
        </aside>
        <main>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>

<style lang="scss">
.admin {
  height: 100vh;
  border: 1px solid red;
  overflow: hidden;
}
.top-bar {
  width: 100%;
  height: 75px;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.content {
  flex: 1;
  display: flex;
}
aside {
  width: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
}
main {
  flex: 1;
  padding: 20px;
}
</style>