---
import GlobalStyles from '@components/GlobalStyles.astro'

const { title } = Astro.props
---

<html lang='es'>
  <head>
    <meta charset="utf-8" />
    <!--  TODO:  Change favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SOMICET - Admin | {title}</title>
    <GlobalStyles />
  </head>
  <body>
    <div id="container">
      <aside>
        <a href="/admin/panel">Panel</a>
        <a href="/admin/aistentes">Asitentes</a>
      </aside>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style lang="scss">
#container {
  display: flex;
}
aside {
  width: 250px;
  padding: 20px;
}
main {
  flex: 1;
  padding: 20px;
}
</style>