---
import GlobalStyles from '@components/GlobalStyles.astro'
import logo from "@assets/logo.png"

const { title } = Astro.props
---

<html lang='es'>
  <head>
    <meta charset="utf-8" />
    <!--  TODO:  Change favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SOMICET - Admin | {title}</title>
    <GlobalStyles />
  </head>
  <body>
    <div class="admin">
      <div class="top-bar">
        <img class="top-bar__logo" src={logo} alt="logo">
        SOMICET
      </div>
      <div class="content">
        <aside>
          <a href="/admin">Panel</a>
          <a href="/admin/registros">Registros</a>
          <a href="/admin/facturas">Facturas</a>
          <a href="/admin/proyectos">Proyectos</a>
        </aside>
        <main>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>

<style scoped lang="scss">
.admin {
  height: 100vh;
  overflow: hidden;
}
.top-bar {
  width: 100%;
  height: 75px;
  border-bottom: 3px solid lightgray;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 20px;
  &__logo {
    width: 50px;
    margin-right: 10px;
  }
}
.content {
  flex: 1;
  display: flex;
}
aside {
  width: 150px;
  height: calc(100vh - 75px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  & a {
    margin-bottom: 12px;
  }
}
main {
  flex: 1;
  padding: 20px;
}
</style>