---
import GlobalStyles from "@components/GlobalStyles.astro"

const { title } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>SOMICET | {title}</title>
    <GlobalStyles />
  </head>
  <body>
    <slot />
  </body>
</html>