---
import { getUser } from "@helpers/supabase";
import ProjectsModule from "@components/admin/ProjectsModule.vue";
import AdminLayout from "@layouts/AdminLayout.astro";

const user = await getUser(Astro.request);
const isLoggedIn = user !== null;

if (!isLoggedIn) {
  return Astro.redirect('/admin/login');
}
---

<AdminLayout title="Carteles">
  <h1>Proyectos</h1>
  <ProjectsModule client:only="vue" />
</AdminLayout>

<style lang="scss">
  h1 {
    margin-bottom: 20px;
  }
</style>