---
import { getUser, getAdmin } from "@helpers/supabase";
import BillsModule from "@components/admin/BillsModule.vue";
import AdminLayout from "@layouts/AdminLayout.astro";

const user = await getUser(Astro.request);
const isLoggedIn = user !== null;

if (!isLoggedIn) {
  return Astro.redirect('/admin/login');
}

const isAdmin = await getAdmin(user);

if (!isAdmin) {
  return Astro.redirect('/');
}
---

<AdminLayout title="Facturas">
  <h1>Facturas</h1>
  <BillsModule client:only="vue" />
</AdminLayout>

<style lang="scss">
  h1 {
    margin-bottom: 20px;
  }
</style>