---
import AdminLayout from "@layouts/AdminLayout.astro";
import BillsModule from "@components/admin/BillsModule.vue";
---

<AdminLayout title="Panel">
  <h1>Facturas</h1>
  <BillsModule client:only="vue" />
</AdminLayout>

<style lang="scss">
  h1 {
    margin-bottom: 20px;
  }
</style>