---
import { isLoggedIn } from "@helpers/supabase";
import BillsModule from "@components/admin/BillsModule.vue";
import AdminLayout from "@layouts/AdminLayout.astro";

if (!isLoggedIn()) {
  return Astro.redirect('/admin/login');
}
---

<AdminLayout title="Panel">
  <h1>Facturas</h1>
  <BillsModule client:only="vue" />
</AdminLayout>

<style lang="scss">
  h1 {
    margin-bottom: 20px;
  }
</style>