---
import { getUser, getAdmin } from "@helpers/supabase";
import AdminLayout from "@layouts/AdminLayout.astro"

const user = await getUser(Astro.request);
const isLoggedIn = user !== null;

if (!isLoggedIn) {
  return Astro.redirect('/admin/inicio');
}

const isAdmin = await getAdmin(user);

if (!isAdmin) {
  return Astro.redirect('/');
}
---

<AdminLayout title="Panel">
  <h1>Panel</h1>
</AdminLayout>