---
import { getUser, getUserRole } from "@helpers/supabase";
import AdminLayout from "@layouts/AdminLayout.astro"

const user = await getUser(Astro.request);
const isLoggedIn = user !== null;

if (!isLoggedIn) {
  return Astro.redirect('/admin/login');
}

const isAdmin = await getUserRole(user);
---

<AdminLayout title="Panel">
  <h1>Panel</h1>
</AdminLayout>