---
import { getUser } from "@helpers/supabase";
import AdminLayout from "@layouts/AdminLayout.astro"

const user = await getUser(Astro.request);

---

<AdminLayout title="Panel">
  <h1>Panel</h1>
</AdminLayout>