---
import LoginModule from "@components/admin/LoginModule.vue";
import logo from "@assets/logo.png"
---

<img class="" src={logo} alt="logo">
<h1>Sociedad Mexicana para la Investigación en Células Troncales</h1>
<LoginModule client:only="vue" />