---
import AdminLayout from '@layouts/AdminLayout.astro'
import RegistrationsModule from '@components/admin/RegistrationsModule.vue'
---

<AdminLayout title='Panel'>
  <h1>Registros</h1>
  <RegistrationsModule client:only='vue' />
</AdminLayout>

<style lang="scss">
  h1 {
    margin-bottom: 20px;
  }
</style>