---
import AdminLayout from '@layouts/AdminLayout.astro'
import AttendeesModule from '@components/admin/RegistrationsModule.vue'
---

<AdminLayout title='Panel'>
  <h1>Registros</h1>
  <AttendeesModule client:only='vue' />
</AdminLayout>