---
import { getUser } from "@helpers/supabase";
import RegistrationsModule from '@components/admin/RegistrationsModule.vue'
import AdminLayout from '@layouts/AdminLayout.astro'

const user = await getUser(Astro.request);
const isLoggedIn = user !== null;

if (!isLoggedIn) {
  return Astro.redirect('/admin/login');
}
---

<AdminLayout title='Registros'>
  <h1>Registros</h1>
  <RegistrationsModule client:only='vue' />
</AdminLayout>

<style lang="scss">
h1 {
  margin-bottom: 8px;
}
</style>